<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.szamiri.kiosk3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="MyReceiver">
                <intent-filter>
                    <action android:name="ubnt.intent.action.HANDSET_HOOK_CHANGED">
                    </action>
                </intent-filter>
        </receiver>

        <receiver android:name="MyReceiver3">
                <intent-filter>
                     <action android:name="android.intent.action.MAIN">
                     </action>
                    <category android:name="android.intent.category.DEFAULT">
                    </category>
                 </intent-filter>
        </receiver>

        <receiver android:name="MyReceiver2">
        <intent-filter>
            <action android:name="ubnt.intent.action.PHONE_STATE">
            </action>
        </intent-filter>
        </receiver>

        <uses-permission android:name="android.permission.GET_TASKS"/>

    </application>


</manifest>